@use '../../Assets/Colors/Colors' as c;

.nav-links {
  list-style-type: none;
  li {
    margin-top: 4em;
    padding: 0 1em;
    border-right: 1.5px solid c.$white;
    display: inline-block;
    &:last-child {
      border: none;
    }
    .active-link {
      text-decoration: none;
      color: c.$white;
      &:hover {
        color: c.$red;
      }
    //   &:active {
    //     color: c.$red;
    //   }
    }
  }
}
